<!-- Start Footer contact -->
<section class="footer-contact">
  <div class="container">
    <div class="footer-contact-wrapper">
      <a href="callto:966 0789 06541" target="_blank" class="contact-block link__">
        <figure class="figure-block figure__">
          <img
            class="img-om"
            src="/assets/images/footer/call 1.png"
            alt="..." />
        </figure>
        <div class="contact-desc">
          <h5 class="title">إتصل بنا</h5>
          <span class="subtitle">+966 0789 06541</span>
        </div>
      </a>
      <a href="mailto:Info@lawyers.com" target="_blank" class="contact-block link__">
        <figure class="figure-block figure__">
          <img
            class="img-om"
            src="/assets/images/footer/message.png"
            alt="..." />
        </figure>
        <div class="contact-desc">
          <h5 class="title">راسلنا عبر البريد الالكتروني</h5>
          <span class="subtitle">Info@lawyers.com</span>
        </div>
      </a>
    </div>
  </div>
</section>
<!-- End Footer contact -->
<footer class="footer_sec__">
  <div class="container">
    <div class="footer-wrapper with_row_gap footer_content__">
      <div class="footer-log-desc">
        <figure class="footer_logo__ figure__">
          <img src="/assets/images/footer/logo.png" alt="" />
        </figure>
        <p class="footer_parg">
          لوريم ايبسوم هو نموذج افتراضي يوضع في التصاميم لتعرض على العميل لقد
          تشغل المشاهد عن ول الميلاد. من كتاب “حول أقاصي الخير والشر”
        </p>
      </div>
      <div class="footer-links">
        <h3 class="footer_head__">روابط سريعة:</h3>
        <ul class="footer_list__ list-unstyled">
          <li><a href="#">الرئيسية</a></li>
          <li><a href="#">محامينا</a></li>
          <li><a href="#">أعمالنا</a></li>
          <li><a href="#">الموقع</a></li>
        </ul>
      </div>
      <div class="footer-socials">
        <h3 class="footer_head__">تابعنا من خلال:</h3>
        <ul class="footer_socials__ list-unstyled">
          <li class="li__">
            <a href="#" class="link__ footer_link__">
              <img
                class="icon__"
                src="/assets/images/footer/instgram.png"
                alt="..." />
            </a>
          </li>
          <li class="li__">
            <a href="#" class="link__ footer_link__">
              <img
                class="icon__"
                src="/assets/images/footer/linkedin.png"
                alt="..." />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyrights_content___">
    جميع الحقوق محفوظة لشركة المصادر الرقمية 2024
  </div>
</footer>
